# DATA 1 Practical 5

Simos Gerasimou


## All You Need to Know About Google Play Store

**Google Play store** ([https://play.google.com/store?hl=en](https://play.google.com/store?hl=en)) is a digital distribution service operated and developed by Google. It serves as the official app store for the Android operating system, allowing users to browse and download applications developed with the Android software development kit (SDK) and published through Google. [Wikipedia](https://en.wikipedia.org/wiki/Google_Play).

**DataVision** has scraped the Google Play store  and acquired data for several Android applications. Since data from the Play Store apps has great potential to drive app-making businesses to success, DataVision wants to investigate whether any actionable insights can be drawn for developers to work on and capture the Android market!

#### Your tasks are to explore this dataset and generade some actionable knowledge. 


#### This Jupyter Notebook will be presented to  Google stakeholders who have limited knowledge about data science. So, your findings should be complemented by a suitable justification explaining what you observe and, when applicable, what does this observation  mean and, possibly, why it occurs.

* For each question (task) a description is provided accompanied (most of the time) by two cells: one for writing the Python code and another for providing the justification. Feel free to add more cells if you feel they are needed, but keep the cells corresponding to the same question close by.

(1) To answer these exercises, you **must first read Chapter 3: Dapa Manipulation with Pandas from the Python Data Science Handbook** (https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html)

(2) If you haven't already done so, complete the exercises on Pandas tutorial to become familiar with the library.

**Pandas API Reference**: https://pandas.pydata.org/pandas-docs/stable/reference/index.html

***

### Part 1: Reading dataset

The Google dataset is available on VLE (look for googleplaystore.csv in the Practicals section)

Before doing the tasks below, you may want to explore the dataset using a spreadsheet editor (e.g., Excel) to get a high-level view of the dataset.

**T1) Load the Google Play Store dataset using Pandas**

**Note**: You have to download the dataset on your local machine and then load it onto the Jupyter Notebook

In [330]:
import pandas as pd 
import numpy as np

import re
#Write your answer here
df = pd.read_csv('googleplaystore.csv')

***

### Part 2: Cleaning and analysing the dataset

**T2i) Print the first 10 records of the dataframe**

In [331]:
#Write your answer here
df.head(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
5,Paper flowers instructions,ART_AND_DESIGN,4.4,167,5.6M,"50,000+",Free,0,Everyone,Art & Design,"March 26, 2017",1.0,2.3 and up
6,Smoke Effect Photo Maker - Smoke Editor,ART_AND_DESIGN,3.8,178,19M,"50,000+",Free,0,Everyone,Art & Design,"April 26, 2018",1.1,4.0.3 and up
7,Infinite Painter,ART_AND_DESIGN,4.1,36815,29M,"1,000,000+",Free,0,Everyone,Art & Design,"June 14, 2018",6.1.61.1,4.2 and up
8,Garden Coloring Book,ART_AND_DESIGN,4.4,13791,33M,"1,000,000+",Free,0,Everyone,Art & Design,"September 20, 2017",2.9.2,3.0 and up
9,Kids Paint Free - Drawing Fun,ART_AND_DESIGN,4.7,121,3.1M,"10,000+",Free,0,Everyone,Art & Design;Creativity,"July 3, 2018",2.8,4.0.3 and up

**T2ii) Print the last 3 records of the dataframe**

In [332]:
#Write your answer here
df.tail(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10837,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10838,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10839,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

**T3) Get general info about the dataset**

In [333]:
#Write your answer here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10840 entries, 0 to 10839
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int64
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

**T4) Explore the dataset and try to understand the meaning of each column. For each column, write its meaning and its data type**

In [334]:
#Write your answer here
# App -> Name of the App
# Category -> Category of the App
# Rating -> Rating of the App
# Size -> Siz eof the App
# Installs -> Download of the App
# Type -> Type of the App
# Price -> Value of the App
# Content Rating -> Age restriction 
# Genre -> Genre of the App
# Last Updated -> Last time the App was updated
# Current Version -> Current version of the App
# Andoird Version -> Android version the App required

**T5) Get the shape of the dataframe**

In [335]:
#Write your answer here
df.shape

(10840, 13)

**T6) Get the name of the columns for the dataframe**

In [336]:
#Write your answer here
df.columns.to_list()

['App',
 'Category',
 'Rating',
 'Reviews',
 'Size',
 'Installs',
 'Type',
 'Price',
 'Content Rating',
 'Genres',
 'Last Updated',
 'Current Ver',
 'Android Ver']

**T7) Do you think the columns (variables) need to be more readable? If so, rename them (e.g., suitable capitalisation, eliminate underscores, full words)**

In [337]:
#Write your answer here
df = df.rename(columns={"Content Rating": "ContentRating", "Last Updated": "LastUpdated", "Current Ver": "CurrentVer", "Android Ver": "AndroidVer"})
df.sample()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,ContentRating,Genres,LastUpdated,CurrentVer,AndroidVer
8795,Dr. Panda Hospital,FAMILY,4.4,1091,45M,"50,000+",Paid,$2.99,Everyone,Education;Pretend Play,"December 5, 2013",1.6,2.0.1 and up

**T8) How many duplicated records exist?**

**Note**: A record is duplicated if all its entries are identical with another record

In [338]:
#Write your answer here
len(df[df.duplicated()])

483

**T9i) How many of the duplicated records refer to 'blood pressure' in their name?**

In [339]:
#Write your answer here
len(df.loc[df['App'].str.contains('blood pressure',regex=True, flags=re.I)])

38

**T9ii) Print the records you found in task T9i**

In [340]:
#Write your answer here
df.loc[df['App'].str.contains('blood pressure',regex=True, flags=re.I)]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,ContentRating,Genres,LastUpdated,CurrentVer,AndroidVer
2244,iBP Blood Pressure,MEDICAL,4.4,578,704k,"10,000+",Paid,$0.99,Everyone,Medical,"November 30, 2014",7.0.1,2.2 and up
2275,Blood Pressure Companion,MEDICAL,4.2,178,4.8M,"1,000+",Paid,$0.99,Everyone,Medical,"July 22, 2018",4.1.5 (Steglitz),4.1 and up
2310,Blood Pressure,MEDICAL,4.2,33033,7.4M,"5,000,000+",Free,0,Everyone,Medical,"July 24, 2018",3.27.3,4.1 and up
2323,Blood Pressure Log - MyDiary,MEDICAL,4.7,8348,2.6M,"500,000+",Free,0,Everyone,Medical,"April 13, 2018",1.4.6,4.0 and up
2356,Free Blood Pressure,MEDICAL,NaN,7,5.7M,"5,000+",Free,0,Everyone,Medical,"October 13, 2016",3.0.0,4.0.3 and up
2426,JH Blood Pressure Monitor,MEDICAL,3.7,9,2.9M,500+,Free,0,Everyone,Medical,"July 21, 2018",1.1,4.0.3 and up
2502,Free Blood Pressure,MEDICAL,NaN,7,5.7M,"5,000+",Free,0,Everyone,Medical,"October 13, 2016",3.0.0,4.0.3 and up
2508,High Blood Pressure Symptoms,MEDICAL,4.0,531,2.3M,"100,000+",Free,0,Everyone,Medical,"January 18, 2015",1.0,3.0 and up
2510,Blood Pressure(BP) Diary,MEDICAL,3.7,3596,8.4M,"1,000,000+",Free,0,Everyone,Medical,"July 18, 2018",4.0.9,4.0.3 and up
2512,JH Blood Pressure Monitor,MEDICAL,3.7,9,2.9M,500+,Free,0,Everyone,Medical,"July 21, 2018",1.1,4.0.3 and up
2513,Blood Pressure,MEDICAL,NaN,10,2.4M,"1,000+",Free,0,Everyone,Medical,"March 14, 2015",1.0,2.3 and up
2525,Blood Pressure Monitor,MEDICAL,4.3,17,6.0M,"10,000+",Free,0,Everyone,Medical,"February 25, 2017",1.0.1,4.4 and up
2527,BP Journal - Blood Pressure Diary,MEDICAL,5.0,6,26M,"1,000+",Free,0,Everyone,Medical,"May 25, 2018",1.0.32,4.4 and up
2530,Blood Pressure - Stay Healthy,MEDICAL,4.6,7,2.7M,"1,000+",Free,0,Everyone,Medical,"April 16, 2018",43.0,4.0.3 and up
2539,Low Blood Pressure Symptoms,MEDICAL,4.2,28,2.3M,"10,000+",Free,0,Everyone,Medical,"January 20, 2015",1.0,3.0 and up
2541,Hypertension High blood pressure,MEDICAL,3.8,292,2.7M,"100,000+",Free,0,Everyone,Medical,"April 16, 2018",43.0,4.0.3 and up
6584,iBP Blood Pressure,MEDICAL,4.4,578,704k,"10,000+",Paid,$0.99,Everyone,Medical,"November 30, 2014",7.0.1,2.2 and up
6585,Blood Pressure,MEDICAL,4.2,33033,7.4M,"5,000,000+",Free,0,Everyone,Medical,"July 24, 2018",3.27.3,4.1 and up
6587,Blood Pressure Log - MyDiary,MEDICAL,4.7,8347,2.6M,"500,000+",Free,0,Everyone,Medical,"April 13, 2018",1.4.6,4.0 and up
6590,Blood Pressure(BP) Diary,MEDICAL,3.7,3596,8.4M,"1,000,000+",Free,0,Everyone,Medical,"July 18, 2018",4.0.9,4.0.3 and up
6591,Cardio Journal — Blood Pressure Log,MEDICAL,4.5,3320,8.3M,"100,000+",Free,0,Everyone,Medical,"February 12, 2018",3.1.1,4.1 and up
6592,Blood Pressure Info,FAMILY,3.9,174423,7.9M,"10,000,000+",Free,0,Everyone,Entertainment,"August 2, 2018",2.28,4.0 and up
6593,BP Journal - Blood Pressure Diary,MEDICAL,5.0,6,26M,"1,000+",Free,0,Everyone,Medical,"May 25, 2018",1.0.32,4.4 and up
6594,Blood Pressure Monitor,MEDICAL,4.3,17,6.0M,"10,000+",Free,0,Everyone,Medical,"February 25, 2017",1.0.1,4.4 and up
6595,Blood Pressure Companion,MEDICAL,4.2,178,4.8M,"1,000+",Paid,$0.99,Everyone,Medical,"July 22, 2018",4.1.5 (Steglitz),4.1 and up
6597,MedM Blood Pressure,MEDICAL,4.0,255,16M,"10,000+",Free,0,Everyone,Medical,"May 25, 2018",2.5.80,4.2 and up
6598,Free Blood Pressure,MEDICAL,NaN,7,5.7M,"5,000+",Free,0,Everyone,Medical,"October 13, 2016",3.0.0,4.0.3 and up
6599,"Diabetes, Blood Pressure, Health Tracker App",MEDICAL,4.5,309,5.9M,"10,000+",Free,0,Everyone,Medical,"March 15, 2017",2.21,4.4 and up
6600,Blood Pressure(BP) Report Lite,MEDICAL,4.0,91,335k,"10,000+",Free,0,Everyone,Medical,"February 8, 2012",1.6,2.1 and up
6608,Blood Pressure Log - bpresso.com,MEDICAL,4.2,5661,Varies with device,"500,000+",Free,0,Everyone,Medical,"April 19, 2017",Varies with device,Varies with device
6609,Blood Pressure Diary,FAMILY,4.6,47,3.3M,"5,000+",Free,0,Everyone,Simulation,"August 1, 2018",1.1,4.0.3 and up
6610,High Blood Pressure,MEDICAL,3.8,4,2.9M,"1,000+",Free,0,Everyone,Medical,"June 1, 2016",1.0,3.0 and up
6611,Simple Blood Pressure log,MEDICAL,3.9,31,10M,"1,000+",Free,0,Everyone,Medical,"January 15, 2016",1.0.1,4.4 and up
6614,Blood Pressure Tracker,MEDICAL,4.0,11,1.8M,"1,000+",Free,0,Everyone,Medical,"November 8, 2017",1.1.1,4.0 and up
6615,Hypertension Hi blood pressure,MEDICAL,3.8,292,2.7M,"100,000+",Free,0,Everyone,Medical,"April 16, 2018",43.0,4.0.3 and up
6621,Blood Pressure - Heartcare,MEDICAL,4.2,70,1.9M,"10,000+",Free,0,Everyone,Medical,"May 27, 2016",2.46 Saber,4.4 and up
6625,Blood pressure,HEALTH_AND_FITNESS,3.4,2256,1.6M,"500,000+",Free,0,Everyone,Health & Fitness,"July 31, 2014",1.1.0,4.0 and up
6626,High Blood Pressure Symptoms,MEDICAL,4.3,46,2.0M,"10,000+",Free,0,Everyone,Medical,"April 5, 2017",1.0.2,4.0.3 and up

**T10) Let's look more closely into the dataset. Are there more duplicates?**

**Hint:** Check the duplicated function of Pandas to understand how the function operates. Do you need to specify what information to consider when checking for duplicates?

In [341]:
#Write your answer here
len(df.loc[df.duplicated(subset='App')])

1181

**T11) Find the app with the highest number of duplicated records and the number of duplicated records for this app**

**Hint:** How can you count the records of a dataframe?

In [342]:
#Write your answer here
print(df.groupby(['App'], as_index=False).size().sort_values(['size'], ascending=False)[0:1])

df.loc[df.duplicated(subset='App')]['App'].value_counts()[0:1]

         App  size
7301  ROBLOX     9

ROBLOX    8
Name: App, dtype: int64

**T12) Investigate the records for the app you found in task T10. What can you observe? Can you identiy the reason why the duplicate records exist?**

In [343]:
#Write your answer here

**T13) Assuming that the data has been scaped sequentially, remove all duplicates by specifying which record to keep**

**Hint:** You may want to check the documentation of the drop_duplicates function

In [344]:
#Write your answer here
_df = df.drop_duplicates(subset=['App'], keep='last')

**T14i) Check the type of variable indicating the last timethe application was update and convert it into the appropriate format**

**Hint:** 

* You may want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

* Pay attention to the date format and the month type

* You may also want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

In [345]:
#Write your answer here 
# _df['LastUpdated'] = 
pd.to_datetime(_df['LastUpdated'], format='%Y-%m-%d')

ValueError: time data January 7, 2018 doesn't match format specified

**T14ii) Which application was updated least recently and when did this happen?**

In [227]:
#Write your answer here
_df.loc[_df.LastUpdated.sort_values().index[0]]

App              FML F*ck my life + widget
Category                            FAMILY
Rating                                 4.2
Reviews                               1415
Size                                  209k
Installs                          100,000+
Type                                  Free
Price                                    0
ContentRating                     Everyone
Genres                       Entertainment
LastUpdated            2010-05-21 00:00:00
CurrentVer                             3.1
AndroidVer                      1.5 and up
Name: 7479, dtype: object

**T15) How many unique values exist under the Price variable? Print the first five unique prices.**

In [234]:
#Write your answer here
print(len(_df.Price.unique()))
_df.Price.unique()[0:5]

92

array(['0', '$4.99', '$3.99', '$1.49', '$2.99'], dtype=object)

**T16i) Write a function moneyWithoutCurrencySymbol that takes a string and returns the string as a float without the currency symbol (if exists)**

In [360]:
#Write your answer here
def moneyWithoutCurrencySymbol(str):
    if str=="NaN":
        return float(0)
    if "$" in str:
        return float(str[1:])
    return float(str)

# print(moneyWithoutCurrencySymbol("$2.3"))

**T16ii) Perform the necessary processing tasks to convert the Price variable into a float**

**Hint:**

* You may want to use the function from task T16i
* You may want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.apply.html
* Alternatively, you may want to check https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html

In [361]:
#Write your answer here
# pd.to_numeric(_df.Price)
_df.loc[df['Price']] = pd.to_numeric(_df.Price.apply(moneyWithoutCurrencySymbol))

TypeError: argument of type 'float' is not iterable

**T17i) How many missing data exist for each variable? Is this a messy or a clean dataset?**

In [126]:
#Write your answer here

**T17ii) Impute the categorical columns with the mode value**

**Hint:** Check Chapter 3 of the Python Data Science Handbook

In [127]:
#Write your answer here

**T17iii) What would be an appropriate value to impute for the other variable? Apply the imputation.**

In [128]:
#Write your answer here

**T18i) Which are the possible values for the variable Installs?**

In [129]:
#Write your answer here

**T18ii) Based on the result from task T18i, do you see any odd value? Do think any cleaning is needed?**

In [130]:
#Write your answer here

**T18iii) If you did any cleaning in task T18ii, check that the cleaning has taken place**

In [131]:
#Write your answer here

**T19i) Perform the necessary processing tasks to convert the Size variable into a float using a common metric (i.e., which will enable to compare records between each other using the size value). Set records whose value is "Varies with device" to 1**

In [132]:
#Write your answer here

**T19ii) Which is the smallest application and what is its size?**

In [133]:
#Write your answer here

**T19iii) What is the most common Category of the largest applications and which applications belong to this Category?**

In [134]:
#Write your answer here

**T20) Are there any logical errors in the Type and Price variables? Are there any applications whose type if Free and you have to pay? Are there any application with type Paid which you can get for free? Check the integrity of the dataset using these conditions**

In [135]:
#Write your answer here

**T21) A reviewer of an application may or may not rate the review. Check the consistency of the dataset concerning this matter**

In [136]:
#Write your answer here

**T22) Get some descriptive statistics for the dataset**

In [137]:
#Write your answer here

**T23) Create a new column that indicates the difference between the Last Updated variable column and the current date.**

In [138]:
#Write your answer here

**T24) (Funny) What is weird about the most expensive appslications which are at or above the 99.9th percentile?**

In [139]:
#Write your answer here

### Should you finish earlier/want to practice at home, you could

* Check that the Price variable does not have logical error (values below 0)
* Check that the values of Rating variable is within the limits [0,5]
* Any other analysis that you might could generate some useful insight.